In [4]:
import pandas as pd 
from pymongo import MongoClient
from sklearn.preprocessing import LabelEncoder

In [7]:
client = MongoClient("mongodb+srv://ruthvik:Ruthvik6660@cluster0.vay81.mongodb.net/")
db = client["student_engagement"]
raw_data_collection = db["raw_data"]
processed_data_collection = db["processed_data"]

In [10]:
raw_data=list(raw_data_collection.find({}, {"_id": 0}))

In [11]:
raw_dataframe = pd.DataFrame(raw_data)

In [12]:
raw_dataframe.columns

Index(['UserID', 'CourseCategory', 'TimeSpentOnCourse',
       'NumberOfVideosWatched', 'NumberOfQuizzesTaken', 'QuizScores',
       'CompletionRate', 'DeviceType', 'CourseCompletion',
       'PredictedCourseCompletion', 'EngagementLevel', 'UserId'],
      dtype='object')

In [19]:
def run_etl():
    raw_data=list(raw_data_collection.find({}, {"_id": 0}))
    raw_dataframe = pd.DataFrame(raw_data)
    def calculate_engagement_score(raw_dataframe):
    
        w_time = 0.3  
        w_videos = 0.2  
        w_quizzes = 0.2  
        w_quiz_scores = 0.2  
      

    
        raw_dataframe["EngagementScore"] = (
           (w_time * raw_dataframe["TimeSpentOnCourse"]) +
           (w_videos * raw_dataframe["NumberOfVideosWatched"]) +
           (w_quizzes * raw_dataframe["NumberOfQuizzesTaken"]) +
           (w_quiz_scores * raw_dataframe["QuizScores"]) 
        )
    
        return raw_dataframe
    
    def classify_engagement(raw_dataframe):
        Q1 = raw_dataframe["EngagementScore"].quantile(0.25)
        Q3 = raw_dataframe["EngagementScore"].quantile(0.75)

        def label(score):
            if score < Q1:
              return "Low"
            elif Q1 <= score <= Q3:
              return "Medium"
            else:
              return "High"

        raw_dataframe["EngagementLevel"] = raw_dataframe["EngagementScore"].apply(label)
    
        return raw_dataframe


    def encode_engagement_level(raw_dataframe):
        le = LabelEncoder()
        raw_dataframe["EngagementLevel"] = le.fit_transform(raw_dataframe["EngagementLevel"])  
        return raw_dataframe
    
    def one_hot_encode_course(raw_dataframe):
        raw_dataframe['CourseCategory'] = raw_dataframe['CourseCategory'].str.strip().str.title()


        valid_courses = ['Health', 'Arts', 'Science', 'Programming', 'Business']
        raw_dataframe = raw_dataframe[raw_dataframe['CourseCategory'].isin(valid_courses)]

        raw_dataframe = pd.get_dummies(raw_dataframe, columns=["CourseCategory"], drop_first=False)
    
        # Convert boolean columns (True/False) to integers (0/1)
        for col in raw_dataframe.columns:
            if raw_dataframe[col].dtype == 'bool':
                raw_dataframe[col] = raw_dataframe[col].astype(int)
        return raw_dataframe
    print(raw_dataframe.columns)



#ETL PIPELINE

    raw_dataframe = calculate_engagement_score(raw_dataframe)
    raw_dataframe = classify_engagement(raw_dataframe)
    raw_dataframe = encode_engagement_level(raw_dataframe)
    raw_dataframe = one_hot_encode_course(raw_dataframe)

    print(raw_dataframe.head(5))
    print(raw_dataframe.info())

    processed_data = raw_dataframe.to_dict(orient="records")
    insert_processed_data(processed_data)

    return processed_data

In [20]:
run_etl()

Index(['UserID', 'CourseCategory', 'TimeSpentOnCourse',
       'NumberOfVideosWatched', 'NumberOfQuizzesTaken', 'QuizScores',
       'CompletionRate', 'DeviceType', 'CourseCompletion',
       'PredictedCourseCompletion', 'EngagementLevel', 'UserId'],
      dtype='object')
   UserID  TimeSpentOnCourse  NumberOfVideosWatched  NumberOfQuizzesTaken  \
0    4101          12.262484                     13                     1
1    6584          33.482244                      3                     9
2    7257           9.739541                     15                     1
3    6314          53.588681                      0                     3
4    4114          94.781148                     14                     4

   QuizScores  CompletionRate DeviceType  CourseCompletion  \
0   68.541848       48.918690          1               0.0
1   59.875871       78.583207          0               0.0
2   70.993815       61.791293          0               0.0
3   51.604870       47.470554          1               0.0
4   87.782251       15.985818          0               1.0

   PredictedCourseCompletion  EngagementLevel  UserId  EngagementScore  \
0                        NaN                1     NaN        20.187115
1                        NaN                1     NaN        24.419847
2                        NaN                1     NaN        20.320625
3                        NaN                2     NaN        26.997578
4                        NaN                0     NaN        49.590795

   CourseCategory_Arts  CourseCategory_Business  CourseCategory_Health  \
0                    1                        0                      0
1                    0                        1                      0
2                    1                        0                      0
3                    1                        0                      0
4                    0                        0                      0

   CourseCategory_Programming  CourseCategory_Science
0                           0                       0
1                           0                       0
2                           0                       0
3                           0                       0
4                           1                       0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9005 entries, 0 to 9004
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   UserID                      9005 non-null   int64
 1   TimeSpentOnCourse           9005 non-null   float64
 2   NumberOfVideosWatched       9005 non-null   int64
 3   NumberOfQuizzesTaken        9005 non-null   int64
 4   QuizScores                  9005 non-null   float64
 5   CompletionRate              9005 non-null   float64
 6   DeviceType                  9005 non-null   object
 7   CourseCompletion            9000 non-null   float64
 8   PredictedCourseCompletion   5 non-null      float64
 9   EngagementLevel             9005 non-null   int64
 10  UserId                      5 non-null      float64
 11  EngagementScore             9005 non-null   float64
 12  CourseCategory_Arts         9005 non-null   int64
 13  CourseCategory_Business     9005 non-null   int64
 14  CourseCategory_Health       9005 non-null   int64
 15  CourseCategory_Programming  9005 non-null   int64
 16  CourseCategory_Science      9005 non-null   int64
dtypes: float64(7), int64(9), object(1)
memory usage: 1.2+ MB
None

NameError: name 'insert_processed_data' is not defined

In [27]:
raw_dataframe.head(5)

,UserID,CourseCategory,TimeSpentOnCourse,NumberOfVideosWatched,NumberOfQuizzesTaken,QuizScores,CompletionRate,DeviceType,CourseCompletion
0,5618.0,Health,29.979719,17.0,3.0,50.365656,20.860773,1.0,0.0
1,4326.0,Arts,27.802640,1.0,5.0,62.615970,65.632415,1.0,0.0
2,5849.0,Arts,86.820485,14.0,2.0,78.458962,63.812007,1.0,1.0
3,4992.0,Science,35.038427,17.0,10.0,59.198853,95.433162,0.0,1.0
4,3866.0,Programming,92.490647,16.0,0.0,98.428285,18.102478,0.0,0.0

In [9]:
import pandas as pd
import numpy as np
from database import get_processed_data, get_raw_data, insert_raw_data
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
import random


def train_model():
    processed_data = get_processed_data()

    processed_data = pd.DataFrame(processed_data)

    print(processed_data.head(5))
    labeled_data = processed_data.dropna(subset=["CourseCompletion"])  # Remove NaNs
    unlabeled_data = processed_data[processed_data["CourseCompletion"].isna()]

    x = labeled_data.drop(columns=["CourseCompletion"])
    y = labeled_data["CourseCompletion"].astype(int) 
    print(x.columns)
    print(y)
    global rc_model
    rc_model = RandomForestClassifier(n_estimators=100, random_state=42)

    x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2, random_state=42,stratify=y)

    print(x_train.shape)
    print(x_test.shape)
    print(y_train.shape)
    print(y_test.shape)

    rc_model.fit(x_train,y_train)

    print("model trained successfully")

In [10]:
train_model()

   UserID  TimeSpentOnCourse  NumberOfVideosWatched  NumberOfQuizzesTaken  \
0    5618          29.979719                     17                     3
1    4326          27.802640                      1                     5
2    5849          86.820485                     14                     2
3    4992          35.038427                     17                    10
4    3866          92.490647                     16                     0

   QuizScores  CompletionRate  DeviceType  CourseCompletion  EngagementScore  \
0   50.365656       20.860773           1                 0        23.067047
1   62.615970       65.632415           1                 0        22.063986
2   78.458962       63.812007           1                 1        44.937938
3   59.198853       95.433162           0                 1        27.751299
4   98.428285       18.102478           0                 0        50.632851

   EngagementLevel  CourseCategory_Arts  CourseCategory_Business  \
0                1                    0                        0
1                1                    1                        0
2                0                    1                        0
3                2                    0                        0
4                0                    0                        0

   CourseCategory_Health  CourseCategory_Programming  CourseCategory_Science
0                      1                           0                       0
1                      0                           0                       0
2                      0                           0                       0
3                      0                           0                       1
4                      0                           1                       0
Index(['UserID', 'TimeSpentOnCourse', 'NumberOfVideosWatched',
       'NumberOfQuizzesTaken', 'QuizScores', 'CompletionRate', 'DeviceType',
       'EngagementScore', 'EngagementLevel', 'CourseCategory_Arts',
       'CourseCategory_Business', 'CourseCategory_Health',
       'CourseCategory_Programming', 'CourseCategory_Science'],
      dtype='object')
0       0
1       0
2       1
3       1
4       0
       ..
8995    0
8996    0
8997    0
8998    1
8999    0
Name: CourseCompletion, Length: 9000, dtype: int64
(7200, 14)
(1800, 14)
(7200,)
(1800,)
model trained successfully

In [12]:
y.info()

<class 'pandas.core.series.Series'>
RangeIndex: 9007 entries, 0 to 9006
Series name: CourseCompletion
Non-Null Count  Dtype
--------------  -----
9000 non-null   float64
dtypes: float64(1)
memory usage: 70.5 KB

In [9]:
process_data = list(processed_data_collection.find({}, {"_id": 0})

SyntaxError: incomplete input (3921474527.py, line 1)