In [1]:
import pandas as pd 
from pymongo import MongoClient
from sklearn.preprocessing import LabelEncoder

In [2]:
client = MongoClient("mongodb+srv://ruthvik:Ruthvik6660@cluster0.vay81.mongodb.net/")
db = client["student_engagement"]
raw_data_collection = db["raw_data"]
processed_data_collection = db["processed_data"]

In [9]:
raw_data=list(raw_data_collection.find({}, {"_id": 0}))

In [4]:
raw_dataframe = pd.DataFrame(raw_data)

In [10]:
stud_data = pd.read_csv("raw/online_course_engagement_data.csv")
stud_data.head(5)

,UserID,CourseCategory,TimeSpentOnCourse,NumberOfVideosWatched,NumberOfQuizzesTaken,QuizScores,CompletionRate,DeviceType,CourseCompletion
0,5618,Health,29.979719,17,3,50.365656,20.860773,1,0
1,4326,Arts,27.802640,1,5,62.615970,65.632415,1,0
2,5849,Arts,86.820485,14,2,78.458962,63.812007,1,1
3,4992,Science,35.038427,17,10,59.198853,95.433162,0,1
4,3866,Programming,92.490647,16,0,98.428285,18.102478,0,0

In [5]:
raw_dataframe.columns

Index(['UserID', 'CourseCategory', 'TimeSpentOnCourse',
       'NumberOfVideosWatched', 'NumberOfQuizzesTaken', 'QuizScores',
       'CompletionRate', 'DeviceType', 'CourseCompletion',
       'PredictedCourseCompletion', 'EngagementLevel', 'UserId'],
      dtype='object')

In [40]:
def run_etl():
    stud_data = pd.read_csv("raw/online_course_engagement_data.csv")
    def calculate_engagement_score(stud_data):
    
        w_time =  0.18  
        w_videos = 0.23  
        w_quizzes = 0.28  
        w_quiz_scores = 0.30 
      

    
        stud_data["EngagementScore"] = (
           (w_time * stud_data["TimeSpentOnCourse"]) +
           (w_videos * stud_data["NumberOfVideosWatched"]) +
           (w_quizzes * stud_data["NumberOfQuizzesTaken"]) +
           (w_quiz_scores * stud_data["QuizScores"]) 
        )
    
        return stud_data
    
    def classify_engagement(stud_data):
        Q1 = stud_data["EngagementScore"].quantile(0.25)
        Q3 = stud_data["EngagementScore"].quantile(0.75)

        def label(score):
            if score < Q1:
              return "Low"
            elif Q1 <= score <= Q3:
              return "Medium"
            else:
              return "High"

        stud_data["EngagementLevel"] = stud_data["EngagementScore"].apply(label)
    
        return stud_data


    def encode_engagement_level(stud_data):
        le = LabelEncoder()
        stud_data["EngagementLevel"] = le.fit_transform(stud_data["EngagementLevel"])  
        return stud_data
    
    def one_hot_encode_course(stud_data):
        stud_data['CourseCategory'] = stud_data['CourseCategory'].str.strip().str.title()


        valid_courses = ['Health', 'Arts', 'Science', 'Programming', 'Business']
        stud_data = stud_data[stud_data['CourseCategory'].isin(valid_courses)]

        stud_data = pd.get_dummies(stud_data, columns=["CourseCategory"], drop_first=False)
    
        # Convert boolean columns (True/False) to integers (0/1)
        for col in stud_data.columns:
            if stud_data[col].dtype == 'bool':
                stud_data[col] = stud_data[col].astype(int)
        return stud_data
    print(stud_data.columns)



#ETL PIPELINE

    stud_data = calculate_engagement_score(stud_data)
    stud_data = classify_engagement(stud_data)
    stud_data = encode_engagement_level(stud_data)
    stud_data = one_hot_encode_course(stud_data)

    print(stud_data.head(5))
    print(stud_data.info())
    stud_data.to_csv("process_data.csv", index=False)

In [41]:
run_etl()

Index(['UserID', 'CourseCategory', 'TimeSpentOnCourse',
       'NumberOfVideosWatched', 'NumberOfQuizzesTaken', 'QuizScores',
       'CompletionRate', 'DeviceType', 'CourseCompletion'],
      dtype='object')
   UserID  TimeSpentOnCourse  NumberOfVideosWatched  NumberOfQuizzesTaken  \
0    5618          29.979719                     17                     3
1    4326          27.802640                      1                     5
2    5849          86.820485                     14                     2
3    4992          35.038427                     17                    10
4    3866          92.490647                     16                     0

   QuizScores  CompletionRate  DeviceType  CourseCompletion  EngagementScore  \
0   50.365656       20.860773           1                 0        25.256046
1   62.615970       65.632415           1                 0        25.419266
2   78.458962       63.812007           1                 1        42.945376
3   59.198853       95.433162           0                 1        30.776573
4   98.428285       18.102478           0                 0        49.856802

   EngagementLevel  CourseCategory_Arts  CourseCategory_Business  \
0                1                    0                        0
1                1                    1                        0
2                0                    1                        0
3                2                    0                        0
4                0                    0                        0

   CourseCategory_Health  CourseCategory_Programming  CourseCategory_Science
0                      1                           0                       0
1                      0                           0                       0
2                      0                           0                       0
3                      0                           0                       1
4                      0                           1                       0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9000 entries, 0 to 8999
Data columns (total 15 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   UserID                      9000 non-null   int64
 1   TimeSpentOnCourse           9000 non-null   float64
 2   NumberOfVideosWatched       9000 non-null   int64
 3   NumberOfQuizzesTaken        9000 non-null   int64
 4   QuizScores                  9000 non-null   float64
 5   CompletionRate              9000 non-null   float64
 6   DeviceType                  9000 non-null   int64
 7   CourseCompletion            9000 non-null   int64
 8   EngagementScore             9000 non-null   float64
 9   EngagementLevel             9000 non-null   int64
 10  CourseCategory_Arts         9000 non-null   int64
 11  CourseCategory_Business     9000 non-null   int64
 12  CourseCategory_Health       9000 non-null   int64
 13  CourseCategory_Programming  9000 non-null   int64
 14  CourseCategory_Science      9000 non-null   int64
dtypes: float64(4), int64(11)
memory usage: 1.0 MB
None

In [8]:
raw_dataframe.head(5)

,UserID,CourseCategory,TimeSpentOnCourse,NumberOfVideosWatched,NumberOfQuizzesTaken,QuizScores,CompletionRate,DeviceType,CourseCompletion,PredictedCourseCompletion,EngagementLevel,UserId
0,6584,Business,33.482244,3,9,59.875871,78.583207,0,0.0,NaN,NaN,NaN
1,8938,Health,40.398077,7,4,53.408003,48.793590,1,1.0,NaN,NaN,NaN
2,5297,Arts,60.934637,20,9,81.585605,29.001884,1,1.0,NaN,NaN,NaN
3,1484,Programming,54.179763,9,2,73.666065,35.746959,1,0.0,NaN,NaN,NaN
4,7560,Health,16.895223,14,9,68.576453,48.348259,0,0.0,NaN,NaN,NaN

In [44]:
import pandas as pd
import numpy as np
from database import get_processed_data, get_raw_data, insert_raw_data
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
import random


def train_model():
    process_data = pd.read_csv("process_data.csv")
    
    labeled_data = process_data.dropna(subset=["CourseCompletion"])  # Remove NaNs
    unlabeled_data = process_data[process_data["CourseCompletion"].isna()]

    x = labeled_data.drop(columns=["CourseCompletion"])
    y = labeled_data["CourseCompletion"].astype(int) 
    print(x.columns)
    print(y)
    global rc_model
    rc_model = RandomForestClassifier(n_estimators=100, random_state=42)

    x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2, random_state=42,stratify=y)

    print(x_train.shape)
    print(x_test.shape)
    print(y_train.shape)
    print(y_test.shape)

    rc_model.fit(x_train,y_train)

    print("model trained successfully")
    y_pred = rc_model.predict(x_test)
    accuracy = accuracy_score(y_test, y_pred)
    print(f"Model Accuracy: {accuracy:.2f}")

In [45]:
train_model()

Index(['UserID', 'TimeSpentOnCourse', 'NumberOfVideosWatched',
       'NumberOfQuizzesTaken', 'QuizScores', 'CompletionRate', 'DeviceType',
       'EngagementScore', 'EngagementLevel', 'CourseCategory_Arts',
       'CourseCategory_Business', 'CourseCategory_Health',
       'CourseCategory_Programming', 'CourseCategory_Science'],
      dtype='object')
0       0
1       0
2       1
3       1
4       0
       ..
8995    0
8996    0
8997    0
8998    1
8999    0
Name: CourseCompletion, Length: 9000, dtype: int64
(7200, 14)
(1800, 14)
(7200,)
(1800,)
model trained successfully
Model Accuracy: 0.96

In [12]:
y.info()

<class 'pandas.core.series.Series'>
RangeIndex: 9007 entries, 0 to 9006
Series name: CourseCompletion
Non-Null Count  Dtype
--------------  -----
9000 non-null   float64
dtypes: float64(1)
memory usage: 70.5 KB

In [9]:
process_data = list(processed_data_collection.find({}, {"_id": 0})

SyntaxError: incomplete input (3921474527.py, line 1)