In [1]:
import pandas as pd 
from pymongo import MongoClient
from sklearn.preprocessing import LabelEncoder

In [2]:
client = MongoClient("mongodb+srv://ruthvik:Ruthvik6660@cluster0.vay81.mongodb.net/")
db = client["student_engagement"]
raw_data_collection = db["raw_data"]
processed_data_collection = db["processed_data"]

In [3]:
process_data = list(processed_data_collection.find({}, {"_id": 0}))

In [5]:
process_dataframe = pd.DataFrame(process_data)

In [6]:
process_dataframe.head(5)

,UserID,TimeSpentOnCourse,NumberOfVideosWatched,NumberOfQuizzesTaken,QuizScores,CompletionRate,DeviceType,CourseCompletion,PredictedCourseCompletion,EngagementLevel,UserId,EngagementScore,CourseCategory_Arts,CourseCategory_Business,CourseCategory_Health,CourseCategory_Programming,CourseCategory_Science,CourseCategory_programming
0,4101,12.262484,13,1,68.541848,48.918690,1,0.0,NaN,1,NaN,20.187115,1,0,0,0,0,0
1,6584,33.482244,3,9,59.875871,78.583207,0,0.0,NaN,1,NaN,24.419847,0,1,0,0,0,0
2,7257,9.739541,15,1,70.993815,61.791293,0,0.0,NaN,1,NaN,20.320625,1,0,0,0,0,0
3,6314,53.588681,0,3,51.604870,47.470554,1,0.0,NaN,2,NaN,26.997578,1,0,0,0,0,0
4,4114,94.781148,14,4,87.782251,15.985818,0,1.0,NaN,0,NaN,49.590795,0,0,0,1,0,0